/* line 1, style.scss */
body {
  background-image: url("images/background.png");
  background-size: 640px 400px;
  margin: 0;
  padding: 0;
}

/* line 10, style.scss */
#menu {
  position: fixed;
  left: 50%;
  top: 20px;
  background-color: white;
  margin-left: -275px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  width: 550px;
  border-radius: 5px;
}
/* line 20, style.scss */
#menu a {
  margin: 5px;
  display: inline-block;
  text-decoration: none;
  color: #9BC3D2;
  font-size: 28px;
}
/* line 26, style.scss */
#menu a:hover {
  color: #5A7B63;
}
/* line 30, style.scss */
#menu a::first-letter {
  color: #FF376F;
}

/* line 35, style.scss */
#header {
  background-image: url("images/wallpaper.png");
  background-repeat: repeat-x;
  height: 200px;
  border-bottom: 5px solid white;
}

/* line 44, style.scss */
#container {
  font-family: 'Nunito', sans-serif;
  width: 50%;
  margin-top: 30px;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 4px;
  padding: 0px 10px 5px 10px;
}
/* line 54, style.scss */
#container a {
  color: #8a4f62;
  text-decoration: none;
}
/* line 58, style.scss */
#container a:hover {
  font-weight: bold;
}
/* line 61, style.scss */
#container .list {
  text-align: center;
  margin-top: 30px;
}
/* line 64, style.scss */
#container .list table {
  display: inline;
}
/* line 66, style.scss */
#container .list table th {
  width: 30%;
}
/* line 70, style.scss */
#container .list .titre {
  font-weight: bold;
  font-size: 35px;
  color: #9BC3D2;
}
/* line 74, style.scss */
#container .list .titre::first-letter {
  color: #FF376F;
}
/* line 79, style.scss */
#container .listArticle {
  text-align: center;
}
/* line 81, style.scss */
#container .listArticle img {
  width: 90%;
  height: auto;
  border-radius: 5px;
}
/* line 86, style.scss */
#container .listArticle .titre {
  font-weight: bold;
  font-size: 25px;
}
/* line 92, style.scss */
#container .article .title {
  font-style: italic;
  font-size: 25px;
  color: #9BC3D2;
}
/* line 96, style.scss */
#container .article .title::first-letter {
  color: #FF376F;
}
/* line 100, style.scss */
#container .article .image {
  margin-top: 5px;
  margin-bottom: 15px;
  text-align: center;
}
/* line 104, style.scss */
#container .article .image img {
  width: 90%;
  height: auto;
  border-radius: 5px;
}
/* line 110, style.scss */
#container .article .text {
  margin-left: 20px;
}
/* line 113, style.scss */
#container .article .dateauteur {
  float: right;
  font-size: 14px;
  font-style: italic;
}
/* line 118, style.scss */
#container .article .readmore {
  margin-top: 20px;
  display: block;
}
/* line 123, style.scss */
#container .commentaire {
  width: 90%;
  margin-top: 20px;
}
/* line 126, style.scss */
#container .commentaire .content {
  float: left;
  width: 70%;
  margin-left: 10px;
}
/* line 130, style.scss */
#container .commentaire .content .titre {
  font-style: italic;
  font-size: 14px;
  font-weight: bold;
  color: #9BC3D2;
}
/* line 137, style.scss */
#container .commentaire .avatar {
  min-width: 150px;
  text-align: center;
  width: 20%;
  float: left;
}
/* line 142, style.scss */
#container .commentaire .avatar img {
  border-radius: 8px;
}
/* line 146, style.scss */
#container .commentaire .auteurdate {
  margin-top: 30px;
  font-size: 13px;
}
/* line 152, style.scss */
#container .userList img {
  float: left;
  margin: 10px;
  border-radius: 8px;
}
/* line 157, style.scss */
#container .userList .content {
  float: left;
  margin-top: 15px;
}
/* line 160, style.scss */
#container .userList .content .name {
  font-size: 20px;
  color: #9BC3D2;
}
/* line 163, style.scss */
#container .userList .content .name::first-letter {
  color: #FF376F;
}
/* line 169, style.scss */
#container .separator {
  border-bottom: 1px solid #FF376F;
  margin: 30px 40px 20px 40px;
  height: 1px;
}
/* line 174, style.scss */
#container h2 {
  font-style: italic;
  font-size: 25px;
  color: #9BC3D2;
}
/* line 178, style.scss */
#container h2::first-letter {
  color: #FF376F;
}
/* line 182, style.scss */
#container form {
  width: 60%;
  margin-left: 20%;
}
/* line 185, style.scss */
#container form label {
  font-size: 20px;
}
/* line 188, style.scss */
#container form select {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  border: 1px solid grey;
  display: block;
  margin-bottom: 20px;
}
/* line 196, style.scss */
#container form textarea {
  width: 100%;
  height: 200px;
  padding: 14px;
  font-size: 16px;
  border: 1px solid grey;
  display: block;
  margin-bottom: 20px;
}
/* line 205, style.scss */
#container form input {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  border: 1px solid grey;
  display: block;
  margin-bottom: 20px;
}
/* line 213, style.scss */
#container form input[type="submit"] {
  width: 50%;
  margin-left: 25%;
  margin-top: 30px;
  cursor: pointer;
  border-radius: 4px;
  border: 0px;
  border-bottom: 2px solid #FF6890;
  background: #ff376f;
  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
}
/* line 226, style.scss */
#container form input[type="radio"] {
  padding: 0px;
  margin-bottom: 0px;
  width: 20px;
  display: inline;
}
/* line 232, style.scss */
#container form .radio {
  font-size: 12px;
}
/* line 236, style.scss */
#container #menuAdmin {
  text-align: center;
}
/* line 238, style.scss */
#container #menuAdmin a {
  margin: 5px;
  display: inline-block;
  text-decoration: none;
  color: #9BC3D2;
  font-size: 15px;
}
/* line 244, style.scss */
#container #menuAdmin a:hover {
  color: #5A7B63;
}
/* line 248, style.scss */
#container #menuAdmin a::first-letter {
  color: #FF376F;
}
